.items-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 65px;
}

.item-slide {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.item-slide .text-container {
  margin: 10px 0;
}
