.drone-operator {
  /* overflow-y: scroll;
  scroll-behavior: auto;
  height: 100vh; */
}

.drone-operator header {
  background-color: #fa9924;
  /* font-family: Inter; */
  font-size: 4.5rem;
  font-weight: bold;
  padding: 65px 0;
  margin-bottom: 50px;
}

.orange-background-text {
  background-color: #fa9924;
  margin-bottom: 120px;
  margin-top: 20px;
}

.orange-background-text h3 {
  color: white;
  line-height: 178.9%;
  max-width: 800px;
  margin: auto;
  padding: 30px 0;
}

.floating-text {
  font-weight: bold;
  /* width: 40%; */
  padding: 0 20%;
  font-size: 24px;
  margin: auto;
  margin-bottom: 100px;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  max-height: 500px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
  /* display: ; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background-image: url(../assets/scroll-icon.svg);
  height: fit-content;
  background-repeat: no-repeat;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}

@media only screen and (max-width: 767px) {
  .drone-operator header {
    font-size: 40px;
    padding: 40px 10px;
    margin-bottom: 60px;
  }

  .orange-background-text h3 {
    padding: 30px 20px;
  }

  .floating-text {
    font-size: 16px;
    width: 90%;
    padding: 0;
  }
}
