.data-container {
  width: 100%;
  margin-bottom: 100px;
}
.data-container h2 {
  margin: auto;
  margin-bottom: 45px;
}

.items {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 160px;
}

.item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.item p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.text-container {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.text-container span {
  display: block;
  font-weight: normal;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
  column-gap: 150px;
  max-width: fit-content;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .data-container {
    margin-bottom: 65px;
  }
  .data-container h2 {
    margin-bottom: 20px;
  }
  .items {
    gap: 30px;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .item {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }
  .item img {
    width: 90%;
  }

  .text-container {
    font-size: 16px;
    line-height: 1.5;
  }
  .text-container span {
    margin-top: 5px;
  }

  .items-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .items-grid .text-container {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  .data-container {
    width: 90%;
    margin: 100px auto;
  }

  .items {
    gap: 50px;
    flex-wrap: wrap;
  }

  .items-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .items-grid {
    gap: 30px;
  }
}
