.flight-path-container {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .flight-path-container h2 {
    margin: auto;
    padding-bottom: 50px;
    padding-top: 20px;
    font-weight: bold;
  }
  .background-color {
    background: linear-gradient(
      to bottom,
      #fa9924 25%,
      #fff 20%,
      #fff 55%,
      #fa9924 51%,
      #fa9924 70%,
      #fff 70%
    );
  }
  
  .flight-path-container p {
    font-size: 20px;
    margin: auto;
    line-height: 178.9%;
    padding-bottom: 50px;
  
    max-width: 800px;
    text-align: center;
  }
  
  .example {
    margin-bottom: 50px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .image-container span {
    /* background-color: #fa9924; */
    position: absolute;
    z-index: -1;
    height: 20%;
    width: 100%;
  }
  
  @media only screen and (max-width: 767px) {
    .flight-path-container p {
      font-size: 16px;
      padding: 0 30px;
      margin-top: 5px;
    }
  
    .background-color {
      background: linear-gradient(
        to bottom,
        #fa9924 35%,
        #fff 20%,
        #fff 55%,
        #fa9924 53%,
        #fa9924 80%,
        #fff 70%
      );
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .image-container {
      max-width: fit-content;
      padding: 0 30px;
    }
    .background-color {
      margin-bottom: 50px;
    }
  }
  