.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttons-container button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .image-slider .image {
    max-width: fit-content;
    padding: 0 30px;
  }
  .image img {
    width: 100%;
  }
  