@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.App {
  font-family: sans-serif;
  text-align: center;
  /* min-width: 375px; */
  font-family: Inter;
}

.bold {
  font-weight: bold;
}
