.footage-with-download {
  margin-bottom: 100px;
}
.footage-with-download h2 {
  margin-bottom: 20px;
}

.footage-with-download .examples {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 50px;
}

.examples .example {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 0;
}

.examples .example img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .footage-with-download .examples {
    /* width: 80%; */
    padding: 0 50px;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footage-with-download .examples {
    width: 80%;
    margin: auto;
  }
}
